@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Oswald:wght@200;400&display=swap');

body {
    margin: 0;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    color: #fff;
    background: linear-gradient(135deg, #2F3E9E, #7F2596);
}

.container {
    padding: 2rem;
    border-radius: 1rem;
    background: rgba(255, 255, 255, 0.1);
}

.pageBox {
    margin-top: 10px;
    max-width: 900px;
    width: 100%;
}

.headerText {
    font-family: 'kanit', sans-serif;
    color: #fff;
    text-align: center;
}

.card {
    background: transparent;
    align-items: center;
    border: 1px solid #fff;
    border-radius: 0.5rem;
    padding: 2.5rem;
}

.btn {
    background-color: #2F3E9E;
    color: #fff;
    border: none;
    height: 50px;
    width: 100%;
    max-width: 200px;
    margin: 1rem auto;
    display: block;
}

.btn:hover,
.btn:focus,
.btn:active {
    background-color: #3E8FD6;
}

.form-control {
    border: 2px solid #fff;
    margin: 5px;
}

.form-control>label {
    background-color: transparent;
    color: #ddd;
}

.form-control:focus {
    outline: 0;
    box-shadow: none;
}

.formBoxHeader {
    color: #fff;
    font-family: 'kanit', sans-serif;
    margin-bottom: 1rem;
}

.upperPage,
.pageBox,
.pageTextBox {
    margin-bottom: 2rem;
}

.descriptionSubText {
    color: #ddd;
    font-family: 'oswald', 'sans-serif';
    letter-spacing: 1.4px;
    margin: 1rem;
    text-align: center;
}

.tagline {
    color: #fff;
    font-family: 'kanit', sans-serif;
    margin-bottom: 1rem;
    text-align: center;
}

.registerButtonBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    margin-top: 20px;
}

.registerPage {
    background: rgba(255, 255, 255, 0.1);
}

.registerHeader {
    font-family: 'kanit', sans-serif;
}

.linkButtonAlign {
    text-align: center;
}

.balanceBoxes,
.transactionDisplays {
    padding: 0.5rem 0;
    border-bottom: 1px solid #fff;
}

.balanceBoxes:last-child,
.transactionDisplays:last-child {
    border-bottom: none;
}

.transactionDescriptionAlign,
.transactionAmountAlign {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.transactionAmountAlign {
    text-align: right;
}

.registerPage {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 1rem;
    padding: 2rem;
}

.form-control, .form-floating > label {
    background-color: transparent;
    color: #afafaf;
}

@media only screen and (max-width: 600px) {
    .pageTextBox {
        display: none;
    }
}
