<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Website</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
</head>

<body>
    <nav class="navbar">
        <div class="header">
            <h1 class="headerText">WalletWhiz</h1>
            <img class="headerLogo" src="../assets/WalletWiz logo.png">
        </div>
        <ul class="nav-links">
            <li><a class="listText" href="#">Dashboard</a></li>
            <li><a class="listText" href="#">Transactions</a></li>
            <li><a class="listText" href="#">Budgets</a></li>
            <li><a class="listText" href="#">Account</a></li>
        </ul>
    </nav>
    <script src="index.js"></script>
</body>

</html>